body {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.1em;
}

fn {
  font-size: 0.7em;
}
